.hornbeck-carousel {
  overflow: hidden;
}

.hornbeck-carousel.vertical {
  max-height: calc(var(--carousel-height) - var(--gap));
}

.hornbeck-carousel.horizontal > div {
  margin: 0 calc(var(--gap) / -2);
}

.hornbeck-carousel.vertical > div {
  margin: calc(var(--gap) / -2) 0;
}

.hornbeck-carousel > div,
.hornbeck-carousel .inner {
  height: 100%;
  box-sizing: border-box;
}

.hornbeck-carousel.horizontal .inner {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--itemCount), 1fr);
  transform: translateX(calc(-100% * var(--offset)));
  width: calc(100% * var(--slides));
}

.hornbeck-carousel.vertical .inner {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(var(--itemCount), 1fr);
  transform: translateY(calc(-100% * var(--offset)));
  height: calc((100% + var(--gap)) * var(--slides));
}

.hornbeck-carousel.horizontal .inner > * {
  margin: 0 calc(var(--gap) / 2);
  transform: translateX(calc(var(--shift) * (100% + var(--gap))));
}

.hornbeck-carousel.vertical .inner > * {
  margin: calc(var(--gap) / 2) 0;
  transform: translateY(calc(var(--shift) * (100% + var(--gap))));
}

.hornbeck-carousel.horizontal.center > div {
  padding-left: calc((100% + var(--gap)) * var(--center));
}

.hornbeck-carousel.vertical.center > div {
  padding-top: calc((var(--carousel-height) + var(--gap)) * var(--center));
}
