:root {
  --red: #ff4136;
  --green: #2ecc40;
  --blue: #0074d9;
  --light-blue: #7fdbff;
}

html {
  font-size: clamp(1rem, 3vmin, 2rem);
}

body {
  margin: 0;
}

* {
  font-family: monospace;
}

h1,
h2,
h3 {
  font-family: sans-serif;
}

.container > * {
  width: 80vw;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-aspect-ratio: 1 / 2) {
  .container > * {
    width: auto;
    max-width: 100%;
    margin: 0 10vw;
  }
}

.container > * + * {
  margin-top: 2em;
}

button {
  cursor: pointer;
}

button[type="submit"] {
  font-size: 0.8em;
  background-color: var(--green);
  border-color: var(--green);
  color: white;
}

button[type="submit"]:hover,
button.active {
  background-color: var(--blue);
  border-color: var(--blue);
  color: white;
}

button:hover {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  color: black;
}

.inner {
  transition: transform 300ms ease;
}

.inner > * {
  height: 200px;
  background-color: cornflowerblue;
}

.inner > *:nth-of-type(2n) {
  background-color: pink;
  grid-column: span 2;
}

.inner > *:first-child {
  background-color: green;
}

.inner > *:last-child {
  background-color: red;
}

/*
.inner > *:nth-child(1) {
  grid-column: span 1;
}
.inner > *:nth-child(2) {
  grid-column: span 1;
}
.inner > *:nth-child(3) {
  grid-column: span 1;
}
.inner > *:nth-child(4) {
  grid-column: span 1;
}
.inner > *:nth-child(5) {
  grid-column: span 1;
}
.inner > *:nth-child(6) {
  grid-column: span 1;
}
.inner > *:nth-child(7) {
  grid-column: span 1;
}
*/
