.hornbeck-carousel {
  overflow-x: hidden;
}

.hornbeck-carousel > div {
  margin: 0 calc(var(--gap) / -2);
}

.hornbeck-carousel .inner {
  display: grid;
  width: calc(var(--slides) * 100%);
  grid-template-columns: repeat(var(--itemCount), 1fr);
  grid-auto-flow: column;
  transform: translateX(calc(-100% * var(--offset)));
}

.hornbeck-carousel .inner > * {
  margin: 0 calc(var(--gap) / 2);
  transform: translateX(calc(var(--shift) * (100% + var(--gap))));
}

.hornbeck-carousel.center {
  padding-left: calc((100% + var(--gap)) * var(--center));
}
