.outer {
  overflow-x: hidden;
}

.outer > div {
  margin: 0 calc(var(--gap) / -2);
}

.inner {
  display: grid;
  width: calc(var(--slides) * 100%);
  grid-template-columns: repeat(var(--items), 1fr);
  grid-auto-flow: column;
  transform: translateX(calc(-100% * var(--offset)));

  /* TODO: use this for whole pages only */
  /* transform: translateX(calc(-100% * var(--offset) / var(--width))); */
}

.inner {
  transition: transform 300ms ease;
}

.inner > * {
  margin: 0 calc(var(--gap) / 2);
  transform: translateX(calc(var(--shift) * 100% + var(--shift) * var(--gap)));
}

body.overflow-hidden {
  overflow: hidden;
}

/* USERSPACE */

.inner > * {
  height: 200px;
  background-color: cornflowerblue;
}

.inner > *:nth-of-type(2n) {
  background-color: pink;
}

.inner > *:first-child {
  background-color: green;
}

.inner > *:last-child {
  background-color: red;
}
